<!DOCTYPE html>
<html>
  <head>
    <title>Lists</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <%- include navbar.ejs %>

    <div class="container">
        <div class="page-header">
            <h1>What You Have, What You Want <small><%= doc.category %> made easy</small></h1>
        </div>
    </div>

    <% var statuses = ["completed", "planned", "current", "onHold", "dropped"]; %>
    <% var fieldText = ["Completed", "Planned", "Current", "On Hold", "Dropped"]; %>
    <% for(var j = 0; j < statuses.length; j++) { %>
      <% var itemArray; %>
      <% if(j == 0) itemArray = doc.completed; %>
      <% if(j == 1) itemArray = doc.planned; %>
      <% if(j == 2) itemArray = doc.current; %>
      <% if(j == 3) itemArray = doc.onHold; %>
      <% if(j == 4) itemArray = doc.dropped; %>

      <section id=<%= statuses[j] %>>
          <div class="container">
              <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">
                  <%= doc.category %>
                  <small><%= fieldText[j] %></small></div>
                  <% var i = 0; %>
                  <% itemArray.forEach(function(item) { %>
                    <ul class="list-group">
                      <li class="list-group-item">
                          <%= item %>
                          <div class="dropdown" style="float: right; bottom: 7px">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                              <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                              <% for(var z = 0; z < statuses.length; z++) { %>
                                <% if (statuses[z] != statuses[j]) { %>
                                  <form action=<%= "/lists/update/move/" + doc.category.split(" ").join("") + "/" + statuses[j] + "/" + statuses[z] %> method="POST">
                                    <input type="hidden" name="index" value=<%= i %>>
                                    <input type="hidden" name="item" value=<%= item.split(" ").join("+") %>>
                                    <li><button class="btn btn-primary" type="submit">Move to  <%= fieldText[z] %></button></li>
                                  </form>
                                <% } %>
                              <% } %>
                              <li><a href="#">Edit</a></li>
                              <form action=<%= "/lists/" + doc.category.split(" ").join("") + "/" + statuses[j] + "/delete" %> method="POST">
                                <input type="hidden" name="index" value=<%= i %>>
                                <li><button class="btn btn-primary" type="submit">Remove</button></li>
                              </form>
                            </ul>
                          </div>
                        </li>
                      </ul>
                    <% i++; %>
                  <% }); %>
                  <li class="list-group-item">
                      <form action=<%= "/lists/" + doc.category.split(" ").join("") + "/" + statuses[j] %> method="POST">
                          <div class="row">
                            <div class="col-lg-6">
                              <div class="input-group">
                                  <input type="text" class="form-control" name="item" placeholder="Item">
                                  <span class="input-group-btn">
                                    <button class="btn btn-primary" type="submit">Add</button>
                                  </span>
                              </div><!-- /input-group -->
                            </div><!-- /.col-lg-6 -->
                          </div><!-- /.row -->
                      </form>
                  </li>
              </div>
          </div>
      </section>
    <% } %>

  </body>
</html>
